annotated-types
anyio
asgiref
beautifulsoup4
certifi
colorama
distro
Django
dj-database-url
gunicorn
h11
httpcore
httpx
idna
jiter
lxml
openai
psycopg2-binary
pydantic
pydantic_core
python-dotenv
requests
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
whitenoise
